* {
  box-sizing: border-box;
  outline: none !important;
}

html {
  font-size: 10px;
  font-family: $font-family;
  font-weight: $font-normal;
  color: $color-black;
  scroll-behavior: smooth;

  @include tablet {
    font-size: 9px;
  }

  @include little-phone {
    font-size: 8px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

section {
  padding: 50px 0;
}
