$color-white: #ffffff;
$color-red: #FC0000;
$color-blue: #DDE6EF;
$color-blue-2: #4267B2;
$color-beige: #E9E9DE;
$color-gray: #E2E2E2;
$color-gray-2: #707070;
$color-yellow: #EAD162;
$color-yellow-2: #D5B353;
$color-green: #439C00;
$color-purple: #9C0078;
$color-black: #000000;
$color-black-2: #121212;
$color-pink: #ECDEFF;


$svgColor:$color-white;

$transition: all 0.3s linear;

$box-shadow:0 3px 20px rgba($color-black, 0.3);

$font-family:'FuturaPT',
sans-serif;

$font-myriadpro: 'MyriadPro',
sans-serif;

$font-museo: 'Museo',
sans-serif;

$font-light: 300;
$font-book: 350;
$font-demi: 450;
$font-medium: 500;
$font-bold: 600;
$font-extrabold: 650;
$font-heavy: 900;
